.header {
  display: flex;
  align-items: center;
  padding-top: 8px;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
}

.header__left {
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.header__left > img {
  object-fit: contain;
  height: 48px;
  margin-left: 5px;
}

.header__middle {
  display: flex;
  flex: 0.7;
  align-items: center;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
}

.header__middle > .MuiSvgIcon-root {
  color: grey;
}

.header__middle > input {
  font-weight: 600;
  border: none;
  width: 100%;
  padding: 10px;
  background-color: transparent;
}

.header__right {
  display: flex;
  padding-right: 20px;
}
